@font-face {
  font-family: 'monteserrat'; 
  src: url('fonts/Montserrat/Montserrat-VariableFont_wght.ttf'); 
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    padding-left: 340px;
  }
  
  .title {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .recipe-container{
    margin-bottom: 20px;
    display: flex;
    
    
  }
  .recipe-text{
    max-width: 40%;
    text-align: left;
    font-size: 22px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    line-height: 1px;
  }


 


  .recipe-image {
    max-width: 500px;
    height: 100%;
    
}
.step {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.step-image {
    max-width: 400px;
    height: auto;
    margin-right: 20px;
}
.step-text {
    max-width: 40%;
    text-align: left;
    font-size: 20px;
    line-height: 1.5;
}


.line {
  flex-grow: 1;
  height: 2px;
  background-color: black;
}



