/*
t- текст
g- секция
s- список
b- фигура
p-изображение
*/
#g1
{
  padding-left:   100px;
  height: 135px;
  background-color: #5CCCCC;
  margin:-8px;
  
}

#p1
{
margin-left: -100px;
margin-top: 15px;

}

#t1
{
margin-top: -65.5px;
   margin-left: 50px;
   Font-size: 30;
   font-weight: bold;
   text-align: left;

}


#s1 
{ 
background: #5CCCCC;
list-style-type:none; 
padding: 5; 
float: left;
margin-top: -27px;
margin-left: 300px;
font-weight: bold;
Font-size: 17;
}

a:link {color: black; text-decoration:none;} 
a:visited {color: black; text-decoration:none;} 
a:hover {color: white;text-decoration:NONE;} 
a:active {text-decoration:none;} 

li
{
display:inline;
padding-right: 10px;
padding-left: 20px;
margin-left: 50px;
}


#b1
{
    float: right;
    width:322px; height: 67px;
    background-color: #6C8CD5 ;
    margin-right: 3%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
}

#g2{    background: #CBFFFF;    height: 300px ;   margin: -8px;}

#t2{Font-size: 30;    font-weight: bold;}   #anim{    margin-top: -50px;}

#g3
{
   background-color: white; 
   height: 400px;
   margin: -8px;
}

#t3
{
    Font-size: 20;    font-weight: bold;   
text-align: center;
display: flex;
justify-content: center;
 float: left;
 width: 450px;
padding-left: 14%;

}

#p2
{
    margin-left: 50px;
    float: left;
}
#p3
{
    margin-right: 50px;
    float: right;
}
#p4
{
    margin-right: 50px;
    float: left;
}


#g4
{
    background: #ffffff;
    height: 300px;
    margin: -8;
}


#b4
{
   width: 250px; height: 200px; 
   background-color: #AAC4FF;
   border-radius: 10px;
margin-left: 25%;
float: left;
}

#t4
{
background-color: #769fff;
border-radius: 10px;
font-size: 25;
text-align: center;
}
#t5{text-align: left; padding: 10;}
#b5
{
   width: 250px; height: 200px; 
   background-color: #AAC4FF;
   border-radius: 10px;
margin-left: 10%;
   float: left;
}

#b6
{
   width: 250px; height: 50px; 
   background-color: #AAC4FF;
   border-radius: 10px;
float: left;
margin-left: 45%;
margin-top: 20;
}


#g5
{
    background: #CBFFFF;
    height: 300px;
    margin: -8;

}

#g6
{
    background: rgb(255, 255, 255);
    height: 600px;
    margin: -8;
}

#g7
{
    background: #CBFFFF;
    height: 300px;
    margin: -8;
}


#g8
{
    background: rgb(49, 49, 49);
    height: 400px;
    margin: -8;
}

#t6
{
    font-size: 20;
    color: rgb(87, 87, 87);
    padding: 100;
}

#g9
{
    background-color: #AAC4FF;
    height: 100%;
    margin: -8;
}
#b7
{
    background-color: white;
    position: absolute;
    top: 40%;
    left: 40%;
    border: 2px solid  black;
    text-align: center;
    width: 500px;
}

/*<img id="p2" src="palm.png"  width="270" height="270">
 для тел диапазон от 555-0100 до 555-0199 

