*{margin: 0; padding: 0; border: 0;}

@font-face {
    font-family: beermoney;
    src: url(../fonts/beer\ money.ttf);
}
@font-face {
    font-family: ComfortaaBold;
    src: url(../fonts/Comfortaa-Bold.ttf);
}
/*Верхушка*/
.top{
    height: 360;
    
    background-color: #92DCE5;
  border-bottom: solid 2px black;
}
/*лого*/
.topimg{
    width: 500px;
}
/*поиск*/
.search{
     width: 250px;
}
/*кнопик на шапке*/
.akcia{
font-family: beermoney;
font-size: 40px;
padding-left:30px ;
}
.chooseprogram{
    font-family: beermoney;
    float: right;
    font-size: 40px;
    padding-right: 30px;
}

/*алгоритм з*/

.algoritm{
    background-color: #237580;
    padding: 5%;
    text-align: center;
    border-bottom: solid 2px black;
}

.txt1{
color: white; margin-bottom: 20px;
}

.blal{ /*БЛок АЛгоритма*/
background-color:#ECF4F7 ;
border: solid 2px black;
border-radius: 25px;
padding: 15px;
margin-bottom: 20px;

}

/*аним*/
.blal {
	animation: blal 2s infinite;
}
.blal:hover {
	animation: none;
}
 
@keyframes blal {
	0% {
		transform: scale3d(1, 1, 1);
	}
	50% {
		transform: scale3d(1.05, 1.05, 1.05);
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}
/*конец аним*/


/*цель и отзывы*/
.aim_and_reviews{
    background-color: #92DCE5;
    padding: 5%;
    border-bottom: solid 2px black;
}

.txt2{
    text-align: center;
    font-family: ComfortaaBold;
}

/*Блоки отзывов*/
.allrev{
    padding: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}
.blrev{
    background-color:#ffffff ;
    float: left;
    width: 250px;
    padding: 15px;
    margin: 15px;
    min-width: 250px;
}



/* Преимущества */
.preim{
background-color: #237580;
padding: 5%;
border-bottom: solid 2px black;
}

.allpreim{
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.blpreim{
    background-color:#ffffff ;
    float: left;
    width: 550px;
    padding: 15px;
    margin: 15px;
    min-width: 250px;
}
.txtpreim{
    text-align: center;
    color: white;
}


/* форма поиска */
.formsearch{
    background-color: #92DCE5;
    padding: 5%;
    border-bottom: solid 2px black;
    display: flex;
    justify-content: center;
}




/* акции */
.sales{
    background-color: #237580;
    padding: 5%;
    border-bottom: solid 2px black;
}
.allsales{
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.blsales{
    background-color:#ffffff ;
    float: left;
    width:550px;
    padding: 15px;
    margin: 15px;
    min-width: 250px;
}



/* ПОДВАЛ */

.footer{
    background-color: #92DCE5;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5%;
}

.footerright{
    background-color:#92DCE5;
    float: left;
    width: 50%;
}

.footerleft{
background-color: #92DCE5;
float: left;
width: 50%;
}


